/* [Add Item] Tab Styles */
.form-container {
  margin-bottom: 0.5em;
}

.addIconContainer {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 5px;
  align-items: center;
}

.addIconContainer .addIconChild {
  margin-left: auto;
  cursor: pointer;
}

.addIconParent .form_input {
  position: static;
}

.item-text-container textarea {
  width: 265px;
  height: 40px;
}

.item-text-container,
.purPack,
.salePack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
}

.item-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
}

.conUnits label,
.Disc label {
  font-size: 0.8rem;
}

.packContainer {
  border: 1px solid var(--primary-text-color);
  padding: 0.6em;
  margin-top: 1em;
  margin-bottom: 0.8em;
}

.uqcContainer {
  position: relative;
}

.uqcButton {
  border: none;
  border-radius: 0.2em;
  background: var(--primary-color);
  color: #fff;
  padding: 4.5px;
  font-size: 0.8em;

  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 5;
  cursor: pointer;
}

.purPack,
.salePack,
.Disc {
  margin-bottom: 0.8em;
}

.salePack {
  margin-top: 0.8em;
}

.dicAndMinQty #DiscQP {
  width: 30%;
}

.dicAndMinQty div:last-child {
  min-width: 130px;
}

.productInclusive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
}

.productLotTable {
  margin-top: 0.5em;
}

.productLotTable tbody td input {
  width: 60px;
  text-align: right;
}

.deleteSvg {
  width: 16px;
  cursor: pointer;
}

.productLotTable tbody {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25),
    0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.productLotTable thead,
.productLotTable tfoot {
  background: linear-gradient(90deg, #d4e8f0 0%, #c6d5dc 100%);
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
  color: #333;
}

.productLotTable tbody td:last-child,
.productLotTable tfoot td:last-child {
  border: none;
}

.productLotTable tfoot {
  height: 33px;
}

/* [Trader] Tab Styles inside [Details] Tab */
.traderContainer,
.readyMadeContainer,
.superMarketContainer1,
.superMarketContainer2,
.SuperMarketRate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  margin-top: 0.6em;
}

.SuperMarketRateContainer {
  margin: 1rem 0;
  border: 1px solid var(--primary-text-color);
  padding: 10px;
}

.SuperMarketRate {
  margin-bottom: 0.5em;
}

.plus-box-multiple {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

#aOrd {
  width: 35%;
  text-align: right;
}

.aOrd {
  font-size: 0.8rem;
  white-space: nowrap;
  padding-right: 12px;
  overflow: auto;
}

/* Pop Up Styles */
.popupContainer {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Pop Up Styles  - Ready Made Pop Up*/
.readyMadeYesPopUp {
  border-radius: 6px;
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: 979797;
  display: inline-block;
}

.main_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main_container input {
  width: 100%;
  max-width: 60px;
  text-align: right;
  outline: 0;
  padding: 4px;
  color: #979797;
  border-radius: 3;
  font-size: 0.8rem;
}

.readyMadeYesPopUp svg {
  width: 16px;
  min-width: 16px;
  cursor: pointer;
}

.readyMadeYesPopUp button {
  background: var(--primary-color);
  border: none;
  padding: 4px 8px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8rem;
}

/* Pop Up Styles  - Rates Display, ProductType & Display Type Pop Up*/
.ratesPopupContainer,
.productsPopupContainer,
.displTypePopupContainer {
  display: flex;
  flex-direction: column;
}

.ratesDisplayPopUp,
.productTypePopUp,
.displayTypePopUp {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ratesDisplayContainer input[type="checkbox"],
.productsPopupContainer input[type="checkbox"],
.displayTypeContainer input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.5em;
  width: 10px;
  vertical-align: middle;
}

.ratesDisplayContainer input[type="checkbox"]:checked ~ label,
.productsPopupContainer input[type="checkbox"]:checked ~ label,
.displayTypeContainer input[type="checkbox"]:checked ~ label {
  color: var(--primary-color);
  font-weight: bold;
}

.ratesDisplayContainer label,
.productsPopupContainer label,
.displayTypeContainer label {
  font-size: 0.8rem;
  color: #797979;
}

.ratesDisplayContainer,
.productTypeContainer,
.displayTypeContainer {
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 1em;
}

/* Pop Up Styles - IMEI, CESS, UQC */

.imeiPopupContainer,
.cessPopupContainer {
  max-width: 480px;
  margin: auto;
  position: relative;
}

.cessPopupContainer {
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
}

.imeiPopupContainer .closeIcon,
.cessPopupContainer .closeIcon,
.imeiPopupContainer .buttons {
  position: absolute;
}

.imeiPopupContainer .closeIcon,
.cessPopupContainer .closeIcon {
  cursor: pointer;
  width: 18px;
  right: 0;
  top: 0;
}

.imeiPopupContainer .buttons {
  bottom: 0;
  right: 0;
}

.imeiPopupWrapper {
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 20px 10px 10px;
}

.cessWrapper {
  padding: 1.5em 1.5em 0.25em;
  border-radius: 0.4em;
}

.cessWrapper div {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 0.6em;
}

.cessWrapper div label {
  flex: 0.6;
  font-size: 0.8rem;
}

.cessWrapper div input,
.cessWrapper div select:not(.cessWrapper .addtnlCess select) {
  flex: 1;
}

.imeiPopupWrapper table {
  white-space: nowrap;
}

.imeiPopupContainer tfoot {
  background: #fff;
}

.imeiPopupContainer tfoot td {
  text-align: right;
}

.imeiPopupContainer table td:last-child {
  border: none;
}

.imeiPopupContainer tfoot td:last-child {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.cessWrapper .btn,
.uqcWrapper .uqcPopUpContent .buttons .btn {
  font-size: 0.8rem;
}

.cessWrapper .buttons {
  display: flex;
  justify-content: flex-end;
}

.imeiPopupContainer tfoot .btn,
.cessWrapper .btn,
.uqcWrapper .uqcPopUpContent .buttons .btn {
  background: none;
  border: none;
  border-radius: 4px;
  padding: 3px 14px;
  cursor: pointer;
}

.imeiPopupContainer tfoot .btnClose,
.cessWrapper .btnClose,
.uqcWrapper .uqcPopUpContent .buttons .btnClose {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.imeiPopupContainer tfoot .btnOk,
.cessWrapper .btnOk,
.uqcWrapper .uqcPopUpContent .buttons .btnSave {
  background: var(--primary-linear-gradient-bg);
  color: #fff;
}

/* UQC POPUP */
.uqcWrapper {
  max-width: 480px;
  margin: 16em auto;
}

.uqcWrapper .uqcPopUpTitle {
  background: #185492;
  color: #fff;
  padding: 5px 10px;
}

.uqcWrapper .uqcPopUpContent {
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}

.uqcWrapper .uqcPopUpContent div {
  display: grid;
}

.uqcWrapper .uqcPopUpContent div label {
  color: #185492;
  font-size: 0.625rem;
}

.uqcWrapper .uqcPopUpContent div select {
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 1px rgba(0, 0, 0, 0.00);
  height: 25px;
}

.uqcWrapper .uqcPopUpContent .uqcMainContent,
.uqcWrapper .uqcPopUpContent .buttons {
  display: flex;
  gap: 10px;
}

.uqcWrapper .uqcPopUpContent .uqcMainContent div {
  flex: 1;
}

.uqcWrapper .uqcPopUpContent .buttons {
  justify-content: flex-end;
  margin-top: 0.8em;
}

/* [Accounts] Tab Styles */
.gstlabelInputContainer {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  margin-top: 0.6em;
  gap: 5px;
  align-items: center;
}

.gstlabelInputContainer .gstLabelContainer {
  width: 10%;
}

.gstlabelInputContainer .gstLabelContainer,
.csic_cess label {
  font-size: 0.8rem;
}

.gstlabelInputContainer .gstinputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
}

.csic_cess {
  margin-top: 0.6em;
}

.gstPurchaseSaleContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 0.8em;
}

.gstPurchaseContainer,
.gstSaleContainer {
  padding: 10px 20px;
  border-radius: 2px;
}

.gstPurchaseContainer p,
.gstSaleContainer p {
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
}

.gstPurchaseContainer select,
.gstSaleContainer select {
  margin-bottom: 1em;
  border: 1px solid #797979;
  background: #fff;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0),
    0px 0px 0px 1px rgba(0, 0, 0, 0);
}

.gstPurchaseContainer .form_label,
.gstSaleContainer .form_label {
  border-radius: 0.4em;
  left: 0;
  font-size: 0.6rem !important;
}

.gstPurchaseContainer .form_div,
.gstSaleContainer .form_div {
  margin-bottom: 0.9em;
}

.gstPurchaseContainer {
  background: linear-gradient(180deg, #c1dce1 0%, #9abac1 100%);
  color: #344c52;
  margin-bottom: 0.8em;
}

.gstSaleContainer {
  background: linear-gradient(180deg, #afd8e1 0%, #82a6ae 100%);
  color: #21363a;
}

.gstAccountContainer .gst_tax_rates {
  width: 50%;
}

/* [Additional Fields] Tab Styles */
.additionalFieldContainer .additionalFieldInputs {
  margin-bottom: 0.5em;
}

.additionalFieldContainer .additionalFieldInputs input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.additionalFieldContainer .additionalFieldInputs .fieldValue {
  margin-left: 0.5em;
}

@media (max-width: 392px) {
  .additionalFieldContainer .additionalFieldInputs .fieldValue {
    display: block;
    margin-top: 0.5em;
    margin-left: 2.2em;
  }
}

/* [Variants] & [Add On's] Tab Styles */
.itemAndManual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.4em;
}

.itemAndManual #manualEntry {
  width: 10px;
  height: 10px;
}

.itemAndManual label {
  font-size: 0.8rem;
  color: var(--primary-color);
}

.variantsContentContainer,
.addonsContentContainer {
  margin-bottom: 0.6em;
}

.variantsContentContainer p,
.addonsContentContainer p {
  color: var(--primary-color);
}

.variantsContentContainer p .variantItemName,
.addonsContentContainer p .addonVariantName {
  font-weight: bold;
}

.variantsContentContainer .variantsInputContainer,
.addonsInputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0.4em 0;
}

.variantsContentContainer .btn,
.addonsContentContainer .btn {
  background: var(--primary-linear-gradient-bg);
  border: none;
  color: #fff;
  padding: 6px 10px;
  font-size: 0.8rem;
  border-radius: 0.2em;
  cursor: pointer;
}

.VariantTable td:last-child,
.addonTable td:last-child {
  border: none;
  text-align: center;
}

.variantPrice,
.addonPrice {
  text-align: right;
}

.variantOrderBy,
.addonOrderBy {
  text-align: center;
}

.addonTable svg {
  cursor: pointer;
}

@media (min-width: 601px) {
  /* [Add Item] Tab Styles */
  .form-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "item-text-container item-image-container";
    padding-top: 0;
    gap: 10px;
  }

  .item-image-container {
    grid-area: item-image-container;
  }
  .item-text-container {
    grid-area: item-text-container;
    padding-top: 0;
  }

  .dicAndMinQty div:last-child {
    width: 32%;
  }

  .conUnits label,
  .Disc label {
    font-size: 0.9rem;
  }

  .Disc input {
    text-align: right;
  }

  .deleteSvg {
    width: 20px;
  }

  /* [Accounts] Tab Styles */
  .gstPurchaseSaleContainer {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .gstlabelInputContainer .gstLabelContainer {
    font-size: 0.9rem;
  }

  .gstPurchaseContainer {
    margin-bottom: 0;
  }

  /* [Variants] Tab Styles */
  .itemAndManual #manualEntry {
    width: 12px;
    height: 12px;
  }

  .variantsContentContainer .variantsInputContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .variantsContentContainer .btn {
    font-size: 0.9rem;
  }

  /* Pop Up Styles */
  /* Pop Up Styles  - Ready Made Pop Up*/
  .readyMadeYesPopUp svg {
    width: 24px;
    min-width: 24px;
  }

  .main_container input,
  .readyMadeYesPopUp button {
    font-size: 0.9rem;
  }

  /* Pop Up Styles  - Rates Display, ProductType & Display Type Pop Up*/
  .ratesDisplayContainer input[type="checkbox"],
  .productsPopupContainer input[type="checkbox"],
  .displayTypeContainer input[type="checkbox"] {
    width: 12px;
  }

  .ratesDisplayContainer label,
  .productsPopupContainer label,
  .displayTypeContainer label {
    font-size: 0.9rem;
  }
}

@media (min-width: 769px) {
  /* [Variants] & [Add On's] Tab Styles */
  .form_input,
  .form_label {
    font-size: 0.7rem;
  }
}
