.purchaseNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchaseNavigation .addNewAccountandItem {
  display: flex;
  gap: 6px;
}

.purchaseNavigation button {
  background: var(--primary-linear-gradient-bg);
  color: #fff;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  font-size: 0.625rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width: 600px) {
  .purchaseNavigation button {
    font-size: 0.9rem;
    padding: 6px 8px;
    gap: 8px;
  }
}

/* ------------------------------------------------------------------- */

.purchaseScreenContainer #content1.active {
  grid-template-columns: 1fr;
}

.purchaseScreenContainer {
  background: #fff;
}

.purchaseContainer,
.purchaseDetailsContainer {
  background: #fff;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

/* ================ partyInfoContainer Style - START ================ */
.partyInfoContainer {
  padding: 1em;
}

.purchaseScreenContainer .v {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 100;
  background: var(--primary-linear-gradient-bg);
  color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  padding: 10px;
  font-size: 0.6rem;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.paymentandInclExclContainer,
.paymentRadiContainer,
.exclinclRadi {
  display: flex;
}

.paymentandInclExclContainer {
  justify-content: space-between;
  background: var(--primary-linear-gradient-bg);
  color: #fff;
  padding: 0.4rem;
}

.paymentRadi,
.ieRadi {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
}

.paymentandInclExclContainer input[type="radio"] {
  margin-right: 0.2rem;
}

.paymenyInfo .tabs {
  display: flex;
}

.paymenyInfo .select-wrapper,
.paymenyInfo .custom_select {
  display: none;
}

.paymentInfoAndShippingAddress .content {
  margin-top: 0;
  padding-top: 0.8em;
}

.partyInfoContainer .row {
  margin-bottom: 0.8em;
}

.partyInfoContainer .row.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.partyInfoContainer .row.row2 {
  display: grid;
  grid-template-columns: 1fr 20px 20px;
  align-items: center;
  gap: 5px;
}

.partyInfoContainer .row.row2 .turnover {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.partyInfoContainer .row.row2 .b {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(180deg, #185492 0%, #0e4074 100%);
  color: #fff;
  font-size: 0.6rem;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.partyInfoContainer .row.row3 {
  display: grid;
  grid-template-columns: 18px 0.4fr 1fr;
  gap: 10px;
  align-items: center;
}

.partyInfoContainer .row.row3 span {
  color: #ff390e;
  text-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 0px 3px 0px #bbb,
    0px 4px 0px #b9b9b9, 0px 5px 0px #aaa, 0px 6px 1px rgba(0, 0, 0, 0.1),
    0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3);
  font-family: helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.partyInfoContainer .row.row4 {
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.6fr;
  gap: 10px;
}

.partyInfoContainer .row.row5 {
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.6fr;
  gap: 10px;
}

.purchaseScreenContainer .barcode_scanner_icon {
  display: flex;
  justify-content: flex-end;
}

.purchaseScreenContainer .barcode_scanner_icon img {
  cursor: pointer;
}
/* ================ partyInfoContainer Style - END ================ */

/* ================ shippingAddressContainer Style - START ================ */

.shippingAddressContainer {
  padding: 1em;
}

.shippingAddressContainer .s {
  border-radius: 2px;
  background: var(--primary-color);
  color: #fff;
  padding: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shippingAddressContainer .row {
  display: grid;
  gap: 10px;
}

.shippingAddressContainer .row1 {
  grid-template-columns: 1fr 25px;
}

.shippingAddressContainer .row2 {
  grid-template-columns: 1fr 0.4fr;
}

.shippingAddressContainer .row {
  margin-bottom: 0.8em;
}
/* ================ shippingAddressContainer Style - END ================ */

/* ================ purchaseDetailsContainer - START ================ */
.purchaseDetailsContainer .content2 {
  display: none;
}

.purchaseDetailsContainer .content2.active {
  display: block;
}

.purchaseDetailsContainer .custom_select {
  display: none;
}

.purchaseDetailsContainer .tabs {
  display: flex;
}

.purchaseDetailsContainer .tab2 {
  padding: 7px 10px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-bottom: none;
  margin-right: -1px;
  transition: all 0.4s;
}

.tab2.active {
  background: var(--primary-linear-gradient-bg);
  color: #fff;
}
/* ================ purchaseDetailsContainer - END ================ */

/* ================ detailsTabContainer Style - START ================ */
.detailsTabContainer {
  padding: 1em;
}

.detailsTabContainer .row {
  display: grid;
  margin-bottom: 1em;
}

.detailsTabContainer .row.row1 {
  grid-template-columns: 1fr 0.7fr 1fr;
  gap: 10px;
}

.detailsTabContainer .row.row2 {
  grid-template-columns: 1fr 1fr 0.7fr 1fr;
  gap: 10px;
}

.detailsTabContainer .row.row3 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.detailsTabContainer .row.row4 {
  grid-template-columns: 1fr;
}

.detailsTabContainer .row.row5,
.parameterTableContainer .row.row5,
.gstDetailsTableContainer .row.row5 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.detailsTabContainer .row.row5 .stock,
.parameterTableContainer .row.row5 .stock,
.gstDetailsTableContainer .row.row5 .stock {
  padding: 6px 5px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
}

.detailsTabContainer .row.row5 .reports_icon,
.parameterTableContainer .row.row5 .reports_icon,
.gstDetailsTableContainer .row.row5 .reports_icon {
  margin-left: auto;
}

.parameterTableContainer .row.row5,
.gstDetailsTableContainer .row.row5 {
  padding: 1em;
}

.detailsTabContainer svg {
  cursor: pointer;
}

.detailsTabContainer .pymtcontainer {
  position: relative;
}

.detailsTabContainer .pymtcontainer p {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 6px;
  background: #d9d9d9;
  border-radius: 0px 3px 3px 0px;
}

.poContainer p {
  position: absolute;
  top: 4px;
  right: 20px;
  z-index: 100;
  border-radius: 50px;
  background: linear-gradient(180deg, #185492 0%, #0e4074 100%);
  color: #fff;
  padding: 4px;
  width: 24px;
  height: 24px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================ detailsTabContainer Style - END ================ */

/* ================ parameterTableContainer Style - START ================ */

.parameterTableContainer table,
.gstDetailsTableContainer table {
  font-size: 0.875rem;
  border: 1px solid #c7d2de;
}

.parameterTableContainer thead,
.parameterTableContainer tfoot,
.gstDetailsTableContainer thead,
.gstDetailsTableContainer tfoot {
  background: #c7d2de;
  color: #40484a;
}

.parameterTableContainer tr td,
.gstDetailsTableContainer tr td {
  height: 30px;
  border: 1px solid #c7d2de;
}

.parameterTableContainer tr input[type="text"],
.gstDetailsTableContainer tr input[type="text"] {
  border-radius: 3px;
  border: 1px solid #40484a;
  height: 20px;
  width: 100%;
}

.parameterTableContainer tr:nth-child(even),
.gstDetailsTableContainer tr:nth-child(even) {
  background: #e9f0f6;
}
/* ================ parameterTableContainer Style - END ================ */

.gstDetailsTableContainer table {
  height: 200px;
  overflow-y: auto;
}

.gstDetailsTableContainer .gstDetailTotal {
  background: #000;
  color: #fff;
}

.gstDetailsTableContainer td {
  border: none !important;
}

.gstDetailsTableContainer .gstDetailsCheckbox {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 400;
}

.gstDetailsTableContainer .gstDetailsCheckbox input[type="checkbox"] {
  width: 12px;
  height: 12px;
}

.purchaseScreenContainer .table-container {
  max-height: 200px;
  overflow-y: auto;
}

/* ================ addItemContainer Style - START ================ */
.addItemContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1em;
}

.addItemContainer .itemTextContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.itemTextContainer input,
.itemTextContainer select,
.itemTextContainer textarea {
  flex: 1 1 auto;
  height: 30px;

  border-radius: 3px;
  border: 1px solid #40484a;
  color: #40484a;
}

.itemTextContainer textarea {
  height: 40px;
}

.addItemSizes {
  width: 70px;
}

.addItemContainer button {
  border-radius: 3px;
  background: var(--primary-linear-gradient-bg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* ================ addItemContainer Style - END ================ */

/* ================ mainTableContainer Style - START ================ */
.mainTableContainer {
  margin-top: 1em;
}

.mainTableContainer table {
  font-size: 0.75rem;
  overflow: hidden;
  border-radius: 0.2rem;
  white-space: nowrap;
}

.mainTableContainer table select {
  height: 20px;
  font-size: 0.75rem;
  padding: 2px;
}

.mainTableContainer thead {
  border-radius: 3px 3px 0px 0px;
  background: #f4f4f4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #40484a;
}

.mainTableContainer tbody tr {
  background: #f9fcff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-top: 1px solid #ADAFB0;
}

.mainTableContainer td {
  border: none;
}

.mainTableContainer tfoot {
  background: #f0f1f1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #40484a;
}
/* ================ mainTableContainer Style - END ================ */

/* ================ tcsAndRoundOff Style - START ================ */

.tcsAndRoundOff table {
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0.2rem;
}

.tcsAndRoundOff thead {
  background: #c7d2de;
  color: #40484a;
}

.tcsAndRoundOff td {
  border: 1px solid #c7d2de;
}

.tcsAndRoundOff tr:nth-child(even) {
  background: #e9f0f6;
}

.purchaseScreenContainer .tcsRoundOffAndTotal {
  margin-top: 0.7em;
  justify-content: space-between;
}

/* ================ tcsAndRoundOff Style - END ================ */

.purchaseScreenContainer .totals {
  border-radius: 2px;
  background: #F4F4F4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 6px;
}

.purchaseScreenContainer .totals div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
  font-weight: 700;
  color: #40484a;
}

.purchaseScreenContainer .btn {
  background: var(--primary-linear-gradient-bg);
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 4px 6px;
  font-size: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}

.purchaseScreenContainer .buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.purchaseScreenContainer svg {
  cursor: pointer;
  margin-right: 5px;
}

@media (max-width: 480px) {
  /* ================ partyInfoContainer Style - START ================ */
  .paymentRadi,
  .ieRadi {
    font-size: 0.5rem;
  }

  .paymentandInclExclContainer input[type="radio"] {
    width: 8px;
    height: 8px;
  }

  .paymenyInfo .tabs {
    font-size: 0.5rem;
  }

  .partyInfoContainer .form_input {
    height: 25px;
    font-size: 0.4rem;
  }

  .partyInfoContainer .form_label {
    font-size: 0.4rem;
  }

  .partyInfoContainer
    .form_input:not(:placeholder-shown).form_input:not(:focus)
    + .form_label {
    font-size: 0.4rem;
    top: -0.5em;
  }

  /*Input focus move up label*/
  .partyInfoContainer .form_input:focus + .form_label,
  .purchaseScreenContainer .form_input:focus + .form_label {
    font-size: 0.4rem;
  }

  .purchaseScreenContainer .v {
    width: 10px;
    height: 10px;
    font-size: 0.5rem;
    padding: 8px;

    top: 5px;
    right: 4px;
  }
  /* ================ partyInfoContainer Style - END ================ */

  /* ================ shippingAddressContainer Style - START ================ */

  .tabandSelectContainer .tabs {
    font-size: 0.5rem;
  }

  .shippingAddressContainer .form_input {
    height: 25px;
    font-size: 0.4rem;
  }

  .shippingAddressContainer .form_label {
    font-size: 0.4rem;
  }

  .shippingAddressContainer .row1 .s {
    height: 25px;
  }

  .shippingAddressContainer
    .form_input:not(:placeholder-shown).form_input:not(:focus)
    + .form_label {
    font-size: 0.4rem;
    top: -0.5em;
  }
  /* ================ shippingAddressContainer Style - END ================ */

  /* ================ detailsTabContainer Style - START ================ */

  .detailsTabContainer .form_input {
    height: 25px;
    font-size: 0.4rem;
  }

  .detailsTabContainer .form_label {
    font-size: 0.4rem;
  }

  .detailsTabContainer
    .form_input:not(:placeholder-shown).form_input:not(:focus)
    + .form_label {
    font-size: 0.4rem;
    top: -0.5em;
  }

  .detailsTabContainer .row.row5 .stock,
  .parameterTableContainer .row.row5 .stock,
  .gstDetailsTableContainer .row.row5 .stock {
    font-size: 0.43rem;
    padding: 4px;
  }

  .detailsTabContainer .pymtcontainer p {
    padding: 7px 4px;
    font-size: 7px;
  }

  .poContainer p {
    width: 18px;
    height: 18px;
    font-size: 8px;
  }
  /* ================ detailsTabContainer Style - END ================ */

  /* ================ parameterTableContainer Style - START ================ */
  .parameterTableContainer table,
  .gstDetailsTableContainer table {
    font-size: 0.5rem;
  }

  .parameterTableContainer tr td,
  .gstDetailsTableContainer tr td {
    height: 20px;
  }

  .parameterTableContainer tr input[type="text"],
  .gstDetailsTableContainer tr input[type="text"] {
    height: 14px;
  }
  /* ================ parameterTableContainer Style - END ================ */

  .gstDetailsTableContainer .gstDetailsCheckbox input[type="checkbox"] {
    width: 8px;
    height: 8px;
  }

  /* ================ addItemContainer Style - START ================ */
  .addItemContainer {
    display: block;
  }
  /* ================ addItemContainer Style - END ================ */

  /* ================ mainTableContainer Style - START ================ */
  .mainTableContainer {
    margin-top: 1em;
  }

  .mainTableContainer table {
    font-size: 0.44rem;
  }

  .mainTableContainer table select {
    height: 14px;
    font-size: 0.44rem;
  }
  /* ================ mainTableContainer Style - END ================ */

  /* ================ tcsAndRoundOff Style - START ================ */
  .tcsAndRoundOff thead {
    font-size: 0.5rem;
  }

  .tcsAndRoundOff tbody {
    font-size: 0.4375rem;
  }
  /* ================ tcsAndRoundOff Style - END ================ */
  .purchaseScreenContainer .totals {
    font-size: 0.5rem;
    width: 150px;
  }
}

@media (min-width: 480px) {
  .purchaseScreenContainer .btn { 
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .tcsAndRoundOff {
    width: 65%;
  }

  .purchaseScreenContainer .totals {
    font-size: 0.875rem;
    width: 250px;
  }
}

@media (max-width: 900px) {
  .purchaseScreenContainer .totals {
    width: 60%;
    margin-left: auto;
  }
}

@media (max-width: 1033px) {
  .purchaseScreenContainer .totals {
    margin-top: 0.5rem
  }
}

@media (min-width: 1037px) {
  .partyAndDetailsContainer {
    display: flex;
    gap: 5px;
  }

  .purchaseContainer,
  .purchaseDetailsContainer {
    flex: 1;
  }

  .purchaseScreenContainer .tcsRoundOffAndTotal {
    display: flex;
  }
}
